/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
	
}

header {
    background-color: #011e29;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to a new line */
    justify-content: space-between; /* Distribute items evenly */
    max-width: 1200px; /* Added to limit maximum width */
    margin: auto;
    padding: 20px;
	display:flex;
}

  .news-section {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .img-section{
			width:100%;
			background-color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
			display-flex:none;
		}
       .main-atical{
			background-color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
			
	   }

 .img-section img {
	width: 100%;
    height:30%;
	background-color: white;

}

ul li {
    margin-bottom: 10px;
}

h2, h3 {
    color: #011e29;
    margin-bottom: 10px;
}
